body {
    background-color: rgba(0, 0, 0, 0.616);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    color: blue;
    font-size: 30px;
    text-align: center;
}

ul {
    list-style-type:none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color:blue;
    padding-right: 80px;
}

a {
    text-decoration: none;
}

img { 
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid blue;
}

.center {
    text-align: center;
}

header a {
    text-align: center;
    
}
header h1 {
    color: blue;
    text-align: center;

}

header h2 {
color: blue;
text-align: center;

}

.container {
    padding: 0px  50px;
}

nav a:hover{
    color: white;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer img{
    width: 40px;
    right: 40px;
    text-align: center;
    border: none;
}

footer p {
    margin-top: 2px;
}

footer p:hover{
    color: white;
}

p a:hover {
    color: white;
}
